li.sub-list {
	margin-bottom: 6px;
}

.sub-list.header {
	padding-right: 20px;
	padding-left: 20px;
}

.sub-list.list > li {
position: relative;
display: block;
}

.sub-list.list > li > a:hover, .sub-list.list > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}

.sub-list.list > li > a {
position: relative;
display: block;
padding: 3px 6px;
}

.sub-list.list {
padding-left: 25px;
}

.sub-list > .active > a, .sub-list > .active > a:hover, .sub-list > .active > a:focus {
	color: #fff !important;
	background-color: #428bca !important;
}

.wf {
	width: 20px;
	height: 40px;
	margin-right: 10px;
}

h2 {
	font-weight: 800
}
pre {
/*display: block;*/
 /*padding: 0;*/
/*margin: 0 35px;*/
/*font-size: 18px;*/
/* line-height: 1.42857143; */
/* color: #333; */
/* word-break: break-all; */
/* word-wrap: break-word; */
 background-color: inherit;
 border: none;
/* border-radius: 4px; */
}

div.step {
	margin-bottom: 35px;
}

.dl-link > a:hover {
	text-decoration: none;
}

hr {
margin-top: 5px;
margin-bottom: 5px;
}

.function-name {
font-size: 14px;
line-height: 30px;
}

.function-usage {
	margin-left: 30px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 12px;
	line-height: 18px;
	font-style: normal;
	color: #c7254e;
	background-color: inherit;
}

.wfCodes a {
	color: inherit;
}

.wfCodes .badge {
display: block;
max-width: 300px;
min-width: 10px;
padding: 3px 7px;
margin-bottom: 5px;
font-size: 16px;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
background-color: #777;
border-radius: 5px;
}

.workflow h1 {
	font-size: 25px;
}

.workflow h2 {
	font-size: 19px;
	font-weight: 200;
}