<!DOCTYPE html>
<html lang="en" ng-app='xdata-db'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en" />

    <title>XDATA | Logging Dashboard</title>

    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- add packages here -->

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body ng-controller="AppController">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <draper-logo></draper-logo>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li bootstrap-nav ng-repeat="route in routes" ng-class="{ active: isActive()}" url=route.url name=route.name></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Statistics <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/#/stats/compActivity">Components Per Activity</a></li>     
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Examples <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Kitware</li>
                <!-- <li><a href="/static/HospitalCosts/index2.html">Hospital Costs</a></li>    -->
                <li><a href="http://10.1.98.102/year2/twitter-mentions-instrumented-v2/">Twitter Mentions</a></li>     
                <!-- <li><a href="http://10.1.98.102/year2/twitter-geomap-instrumented-v2/ -->
<!-- ">Twitter Geomap</a></li>      -->
                <li class="divider"></li>
                <li class="dropdown-header">Oculus</li>
                <li><a href="http://10.1.98.104:8080/kiva/">Influent</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Documentation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/static/simple_guide">Getting Started</a></li> 
                <li><a href="/static/wf_states">Workflow Guide</a></li> 
                <li><a href="/static/doc/index.html">Full API</a></li>     
              </ul>
            </li>
            <!-- <li><a href="/static/HospitalCosts/index2.html">Demo</a></li> -->
            <!-- <li><a href="/static/doc/index.html">Documentation</a></li> -->
            <!-- <li><a href="/#/wfDesc">Workflow Descriptions</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" ng-view>
    </div>

    <script src="js/assets.js"></script>

    <!-- add packages here -->

    <script src="js/src.js"></script>
  </body>
</html>
