
.sub-list.header {
	padding-right: 20px;
	padding-left: 20px;
}

.sub-list.list > li {
position: relative;
display: block;
}

.sub-list.list > li > a:hover, .sub-list.list > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}

.sub-list.list > li > a {
position: relative;
display: block;
padding: 3px 6px;
}

.sub-list.list {
padding-left: 25px;
}

.sub-list > .active > a, .sub-list > .active > a:hover, .sub-list > .active > a:focus {
	color: #fff !important; 
	background-color: #428bca !important;
}

.wf {
	width: 20px;
	height: 40px;
	margin-right: 10px;
}