<div class="container">     
  <div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">   
    <a class="navbar-brand" href="#">XDATA Logging Dashboard</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">          
      <li class="active">{{#link-to 'sessions'}}By Session{{/link-to}}</li>
      <li><a href="sphinx_docs">Docs</a></li>
    </ul>
    <ul class="nav navbar-text navbar-nav navbar-right">
      <li {{action "record"}}><span class="glyphicon glyphicon-record"></span></li>          
    </ul>
  </div>
  </div>      
  
  {{outlet}}

</div>