
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>User-ALE</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/github.min.css"> -->
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/languages/javascript.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
    <link href="css/wf-colors.css" rel="stylesheet">

  </head>

{% set wf_nav = [

    ('define.html', 'Define Problem'),
    ('getdata.html', 'Get Data'),
    ('explore.html', 'Explore Data'),
    ('create.html', 'Create View'),
    ('enrich.html', 'Enrich Data'),
    ('transform.html', 'Transform Data'),
  ('other.html', 'Other')
] -%}
{% set helperlibs_nav = [
  ('javascript.html', 'JavaScript'),
] -%}
{% set active_page = active_page|default('index.html') -%}

  <body>

     <div class="container-fluid">
      <div class="row">
        <div style="z-index: 5000;" class="col-sm-3 col-md-2 sidebar">
          <img src="img/user-ale-small.png" alt="">
          <hr>
          <div style="text-align: center">
            <a href="https://github.com/draperlaboratory/User-ALE">Get from Github <i class="fa fa-github"></i></a>
          </div>
          <hr>
          <ul class="nav nav-sidebar">
            <li {% if 'index.html' == active_page %} class="active"{% endif
  %}><a href="index.html">Overview</a></li>
            <li {% if 'getting_started.html' == active_page %} class="active"{% endif
                  %}><a href="getting_started.html">JavaScript Quickstart</a></li>
            <li {% if 'documentation.html' == active_page %} class="active"{% endif
  %}><a href="documentation.html">RESTful API</a></li>
            <li class="sub-list">
              <div class="sub-list header">Helper Libraries</div>
              <ul class="sub-list list">
                {% for href, caption in helperlibs_nav %}
                  <li{% if href == active_page %} class="active"{% endif
                  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="sub-list">
              <div class="sub-list header">Workflow Activities</div>
              <ul class="sub-list list">
                {% for href, caption in wf_nav %}
                  <li{% if href == active_page %} class="active"{% endif
                  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
              </ul>
            </li>            
          </ul>
        </div>
        <div  style="position: relative;" data-spy="scroll" data-target=".navbar-example" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- // <script src="../../assets/js/docs.min.js"></script> -->
  </body>
</html>
