{% extends "base.html" %}
{% set active_page = "define.html" %}
{% block content %}
<h4 class="pull-right">WF_DEFINE</h4>
<div class="pull-left wf wf_define light"></div>
<h1 class="page-header">Define Problem</h1>

<h4>Description</h4>
<p>Most of Define the Problem will be accomplished outside of XDATA tools (largely in the challenge problem assignment interface). This state includes: receiving tasking, refining the request (perhaps with the requestor), defining specific goals and objectives for the request, specifying research questions and/or hypotheses to test, and justifying the tasking.</p>

<h4>Example Usages</h4>

<i>None at this time</i>
{% endblock %}